.main {
	width: 80%;
	height: 100%;
	margin: 0px auto;
	background-color: #ffffe0;
}
nav > ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style: none;
}

ul > li {
	margin: 0.25rem;
}
form {
	width: fit-content;
	margin: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
input {
	margin: 0px 0.5rem;
}
span {
	margin: 1rem;
}
label {
	/*     border: 1px solid red; */
	align-self: flex-start;
}
